<div class="row">
  <div class="span4 offset1">
    <a href="/?choice=rock" class="btn btn-primary">Schdoi</a>

    <a href="/?choice=paper" class="btn btn-primary">Babier</a>

    <a href="/?choice=scissors" class="btn btn-primary">Scher'</a>
  </div>
</div>
